# Python virtual environments
.venv/
.venv-wsl/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Logs
*.log                                        